flow-node-red.json
[
  {
    "id": "f356cfe274aa46de",
    "type": "tab",
    "label": "Challenge-IOT",
    "disabled": false,
    "info": "Dashboard 3 colunas: Vaga A | Vaga B | Vaga C"
  },
  {
    "id": "16a7bbfb8c069982",
    "type": "mqtt in",
    "z": "f356cfe274aa46de",
    "name": "States",
    "topic": "mottu/v1/parking/+/state",
    "qos": "1",
    "datatype": "auto",
    "broker": "mqttBroker",
    "nl": false,
    "rap": true,
    "rh": true,
    "inputs": 0,
    "x": 130,
    "y": 120,
    "wires": [["325d27293c71d4c0"]]
  },
  {
    "id": "49cba0f9ebc55ae3",
    "type": "mqtt in",
    "z": "f356cfe274aa46de",
    "name": "Telemetry",
    "topic": "mottu/v1/parking/+/telemetry",
    "qos": "1",
    "datatype": "auto",
    "broker": "mqttBroker",
    "nl": false,
    "rap": false,
    "rh": false,
    "inputs": 0,
    "x": 130,
    "y": 180,
    "wires": [["3f7d293483072917"]]
  },
  {
    "id": "325d27293c71d4c0",
    "type": "json",
    "z": "f356cfe274aa46de",
    "name": "JSON state",
    "property": "payload",
    "action": "",
    "pretty": false,
    "x": 330,
    "y": 120,
    "wires": [["4b5f3d2e8de22933", "5cbf8f726a4c2605", "89a6c3dae58655b6"]]
  },
  {
    "id": "3f7d293483072917",
    "type": "json",
    "z": "f356cfe274aa46de",
    "name": "JSON telemetry",
    "property": "payload",
    "action": "",
    "pretty": false,
    "x": 330,
    "y": 180,
    "wires": [["0a439f9f0246b531", "734ed41eec7daade"]]
  },
  {
    "id": "4b5f3d2e8de22933",
    "type": "switch",
    "z": "f356cfe274aa46de",
    "name": "State → vaga",
    "property": "payload.deviceId",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "vagaA",
        "vt": "str"
      },
      {
        "t": "eq",
        "v": "vagaB",
        "vt": "str"
      },
      {
        "t": "eq",
        "v": "vagaC",
        "vt": "str"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 3,
    "x": 520,
    "y": 120,
    "wires": [["3370faf6decae76d"], ["64afe643099df531"], ["def7cdb463dbf546"]]
  },
  {
    "id": "0a439f9f0246b531",
    "type": "switch",
    "z": "f356cfe274aa46de",
    "name": "Telemetry → vaga",
    "property": "payload.deviceId",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "vagaA",
        "vt": "str"
      },
      {
        "t": "eq",
        "v": "vagaB",
        "vt": "str"
      },
      {
        "t": "eq",
        "v": "vagaC",
        "vt": "str"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 3,
    "x": 540,
    "y": 180,
    "wires": [["d6e2388624663ada"], ["aecffe242ad2cbce"], ["6edab12236ca0520"]]
  },
  {
    "id": "3370faf6decae76d",
    "type": "function",
    "z": "f356cfe274aa46de",
    "name": "state A",
    "func": "const p=msg.payload; msg.state=p.status; msg.maintenance=p.maintenance?'necessária':'não necessária'; return msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 730,
    "y": 100,
    "wires": [["130a5dfe545d3956", "910477cd2e03aaa1"]]
  },
  {
    "id": "64afe643099df531",
    "type": "function",
    "z": "f356cfe274aa46de",
    "name": "state B",
    "func": "const p=msg.payload; msg.state=p.status; msg.maintenance=p.maintenance?'necessária':'não necessária'; return msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 730,
    "y": 120,
    "wires": [["f2d094c27d608ff7", "f46516eef48e6734"]]
  },
  {
    "id": "def7cdb463dbf546",
    "type": "function",
    "z": "f356cfe274aa46de",
    "name": "state C",
    "func": "const p=msg.payload; msg.state=p.status; msg.maintenance=p.maintenance?'necessária':'não necessária'; return msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 730,
    "y": 140,
    "wires": [["afcfa5678fef3e83", "f765cb9b366afd06"]]
  },
  {
    "id": "d6e2388624663ada",
    "type": "function",
    "z": "f356cfe274aa46de",
    "name": "telemetry A",
    "func": "const p=msg.payload; msg.distance=p.distance_cm; msg.temp=p.temp_c; msg.hum=p.hum_pct; return msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 740,
    "y": 180,
    "wires": [["8c7268d5c7b15563", "5e4886d88aca3ac2", "551163374a6cce94"]]
  },
  {
    "id": "aecffe242ad2cbce",
    "type": "function",
    "z": "f356cfe274aa46de",
    "name": "telemetry B",
    "func": "const p=msg.payload; msg.distance=p.distance_cm; msg.temp=p.temp_c; msg.hum=p.hum_pct; return msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 740,
    "y": 220,
    "wires": [["391405f97baaad37", "4e3c1d66b7d49cfd", "2c71864a52f0a26f"]]
  },
  {
    "id": "6edab12236ca0520",
    "type": "function",
    "z": "f356cfe274aa46de",
    "name": "telemetry C",
    "func": "const p=msg.payload; msg.distance=p.distance_cm; msg.temp=p.temp_c; msg.hum=p.hum_pct; return msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 740,
    "y": 260,
    "wires": [["353266cbcfe1a550", "bac746026157e7f7", "20a6749d02235c9e"]]
  },
  {
    "id": "130a5dfe545d3956",
    "type": "ui_text",
    "z": "f356cfe274aa46de",
    "group": "grpA",
    "order": 1,
    "width": 0,
    "height": 0,
    "name": "Estado A",
    "label": "Estado",
    "format": "{{msg.state}}",
    "layout": "row-spread",
    "className": "",
    "style": false,
    "font": "",
    "fontSize": "",
    "color": "#000000",
    "x": 950,
    "y": 80,
    "wires": []
  },
  {
    "id": "910477cd2e03aaa1",
    "type": "ui_text",
    "z": "f356cfe274aa46de",
    "group": "grpA",
    "order": 2,
    "width": 0,
    "height": 0,
    "name": "Manutenção A",
    "label": "Manutenção",
    "format": "{{msg.maintenance}}",
    "layout": "row-spread",
    "x": 970,
    "y": 100,
    "wires": []
  },
  {
    "id": "8c7268d5c7b15563",
    "type": "ui_text",
    "z": "f356cfe274aa46de",
    "group": "grpA",
    "order": 3,
    "width": 0,
    "height": 0,
    "name": "Dist A",
    "label": "Distância",
    "format": "Distância: {{msg.distance}} cm",
    "layout": "row-spread",
    "x": 960,
    "y": 140,
    "wires": []
  },
  {
    "id": "5e4886d88aca3ac2",
    "type": "ui_text",
    "z": "f356cfe274aa46de",
    "group": "grpA",
    "order": 4,
    "width": 0,
    "height": 0,
    "name": "Temp A",
    "label": "Temperatura",
    "format": "{{msg.temp}} °C",
    "layout": "row-spread",
    "x": 960,
    "y": 160,
    "wires": []
  },
  {
    "id": "551163374a6cce94",
    "type": "ui_text",
    "z": "f356cfe274aa46de",
    "group": "grpA",
    "order": 5,
    "width": 0,
    "height": 0,
    "name": "Umid A",
    "label": "Umidade",
    "format": "{{msg.hum}} %",
    "layout": "row-spread",
    "x": 950,
    "y": 180,
    "wires": []
  },
  {
    "id": "f2d094c27d608ff7",
    "type": "ui_text",
    "z": "f356cfe274aa46de",
    "group": "grpB",
    "order": 1,
    "width": 0,
    "height": 0,
    "name": "Estado B",
    "label": "Estado",
    "format": "{{msg.state}}",
    "layout": "row-spread",
    "className": "",
    "style": false,
    "font": "",
    "fontSize": "",
    "color": "#000000",
    "x": 950,
    "y": 260,
    "wires": []
  },
  {
    "id": "f46516eef48e6734",
    "type": "ui_text",
    "z": "f356cfe274aa46de",
    "group": "grpB",
    "order": 2,
    "width": 0,
    "height": 0,
    "name": "Manutenção B",
    "label": "Manutenção",
    "format": "{{msg.maintenance}}",
    "layout": "row-spread",
    "x": 970,
    "y": 280,
    "wires": []
  },
  {
    "id": "391405f97baaad37",
    "type": "ui_text",
    "z": "f356cfe274aa46de",
    "group": "grpB",
    "order": 3,
    "width": 0,
    "height": 0,
    "name": "Dist B",
    "label": "Distância",
    "format": "Distância: {{msg.distance}} cm",
    "layout": "row-spread",
    "x": 960,
    "y": 320,
    "wires": []
  },
  {
    "id": "4e3c1d66b7d49cfd",
    "type": "ui_text",
    "z": "f356cfe274aa46de",
    "group": "grpB",
    "order": 4,
    "width": 0,
    "height": 0,
    "name": "Temp B",
    "label": "Temperatura",
    "format": "{{msg.temp}} °C",
    "layout": "row-spread",
    "x": 960,
    "y": 340,
    "wires": []
  },
  {
    "id": "2c71864a52f0a26f",
    "type": "ui_text",
    "z": "f356cfe274aa46de",
    "group": "grpB",
    "order": 5,
    "width": 0,
    "height": 0,
    "name": "Umid B",
    "label": "Umidade",
    "format": "{{msg.hum}} %",
    "layout": "row-spread",
    "x": 950,
    "y": 360,
    "wires": []
  },
  {
    "id": "afcfa5678fef3e83",
    "type": "ui_text",
    "z": "f356cfe274aa46de",
    "group": "grpC",
    "order": 1,
    "width": 0,
    "height": 0,
    "name": "Estado C",
    "label": "Estado",
    "format": "{{msg.state}}",
    "layout": "row-spread",
    "className": "",
    "style": false,
    "font": "",
    "fontSize": "",
    "color": "#000000",
    "x": 950,
    "y": 440,
    "wires": []
  },
  {
    "id": "f765cb9b366afd06",
    "type": "ui_text",
    "z": "f356cfe274aa46de",
    "group": "grpC",
    "order": 2,
    "width": 0,
    "height": 0,
    "name": "Manutenção C",
    "label": "Manutenção",
    "format": "{{msg.maintenance}}",
    "layout": "row-spread",
    "x": 970,
    "y": 460,
    "wires": []
  },
  {
    "id": "353266cbcfe1a550",
    "type": "ui_text",
    "z": "f356cfe274aa46de",
    "group": "grpC",
    "order": 3,
    "width": 0,
    "height": 0,
    "name": "Dist C",
    "label": "Distância",
    "format": "Distância: {{msg.distance}} cm",
    "layout": "row-spread",
    "x": 960,
    "y": 500,
    "wires": []
  },
  {
    "id": "bac746026157e7f7",
    "type": "ui_text",
    "z": "f356cfe274aa46de",
    "group": "grpC",
    "order": 4,
    "width": 0,
    "height": 0,
    "name": "Temp C",
    "label": "Temperatura",
    "format": "{{msg.temp}} °C",
    "layout": "row-spread",
    "x": 960,
    "y": 520,
    "wires": []
  },
  {
    "id": "20a6749d02235c9e",
    "type": "ui_text",
    "z": "f356cfe274aa46de",
    "group": "grpC",
    "order": 5,
    "width": 0,
    "height": 0,
    "name": "Umid C",
    "label": "Umidade",
    "format": "{{msg.hum}} %",
    "layout": "row-spread",
    "x": 950,
    "y": 540,
    "wires": []
  },
  {
    "id": "98a0d28c9e244a84",
    "type": "inject",
    "z": "f356cfe274aa46de",
    "name": "Criar BD (Rodar 1x)",
    "props": [
      {
        "p": "payload"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": true,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "str",
    "x": 160,
    "y": 580,
    "wires": [["ac85501af9dde29c"]]
  },
  {
    "id": "ac85501af9dde29c",
    "type": "function",
    "z": "f356cfe274aa46de",
    "name": "Criar Tabelas (SQL)",
    "func": "\nmsg.topic = `\nCREATE TABLE IF NOT EXISTS Vagas (\n    deviceId TEXT PRIMARY KEY,\n    status TEXT,\n    maintenance BOOLEAN,\n    last_update INTEGER\n);\n\nCREATE TABLE IF NOT EXISTS Telemetria (\n    id INTEGER PRIMARY KEY AUTOINCREMENT,\n    deviceId TEXT,\n    distance_cm REAL,\n    temp_c REAL,\n    hum_pct REAL,\n    rssi INTEGER,\n    ts INTEGER\n);\n`;\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 390,
    "y": 580,
    "wires": [["f90a668b0cae3675"]]
  },
  {
    "id": "f90a668b0cae3675",
    "type": "better-sqlite",
    "z": "f356cfe274aa46de",
    "mydb": "5e4e9ff9091cbc5b",
    "sqlquery": "msg.topic",
    "sql": "",
    "name": "",
    "x": 590,
    "y": 580,
    "wires": [[]]
  },
  {
    "id": "fd8cf2a27e3e9c8f",
    "type": "better-sqlite",
    "z": "f356cfe274aa46de",
    "mydb": "5e4e9ff9091cbc5b",
    "sqlquery": "msg.topic",
    "sql": "",
    "name": "Parking DB (Writer)",
    "x": 350,
    "y": 240,
    "wires": [[]]
  },
  {
    "id": "5cbf8f726a4c2605",
    "type": "function",
    "z": "f356cfe274aa46de",
    "name": "Prepara SQL State",
    "func": "// Prepara o SQL para atualizar a tabela Vagas\nconst p = msg.payload;\nconst deviceId = p.deviceId;\nconst status = p.status;\nconst maintenance = p.maintenance; // O SQLite trata true/false\nconst ts = p.ts;\n\n// 'INSERT OR REPLACE' é o comando SQLite que atualiza a linha\n// se a PRIMARY KEY (deviceId) já existir, ou insere uma nova\n// linha se não existir. É perfeito para status.\nmsg.topic = `\nINSERT OR REPLACE INTO Vagas (deviceId, status, maintenance, last_update)\nVALUES ('${deviceId}', '${status}', ${maintenance}, ${ts});\n`;\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 530,
    "y": 60,
    "wires": [["fd8cf2a27e3e9c8f"]]
  },
  {
    "id": "734ed41eec7daade",
    "type": "function",
    "z": "f356cfe274aa46de",
    "name": "Prepara SQL Telemetry",
    "func": "// Prepara o SQL para inserir na tabela Telemetria\nconst p = msg.payload;\n\n// Telemetria é um histórico, por isso usamos INSERT.\n// O 'id' será gerado automaticamente (AUTOINCREMENT).\nmsg.topic = `\nINSERT INTO Telemetria (deviceId, distance_cm, temp_c, hum_pct, rssi, ts)\nVALUES (\n    '${p.deviceId}',\n    ${p.distance_cm},\n    ${p.temp_c},\n    ${p.hum_pct},\n    ${p.rssi},\n    ${p.ts}\n);\n`;\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 550,
    "y": 300,
    "wires": [["fd8cf2a27e3e9c8f"]]
  },
  {
    "id": "2c0c94054f7c0117",
    "type": "inject",
    "z": "f356cfe274aa46de",
    "name": "A cada 2s",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "2",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 130,
    "y": 660,
    "wires": [["2cfd22a91fee4a02"]]
  },
  {
    "id": "2cfd22a91fee4a02",
    "type": "function",
    "z": "f356cfe274aa46de",
    "name": "Prepara SQL Leitura",
    "func": "\nmsg.topic = \"SELECT * FROM Vagas;\";\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 340,
    "y": 660,
    "wires": [["97bf845e29058f60"]]
  },
  {
    "id": "97bf845e29058f60",
    "type": "better-sqlite",
    "z": "f356cfe274aa46de",
    "mydb": "5e4e9ff9091cbc5b",
    "sqlquery": "msg.topic",
    "sql": "",
    "name": "Parking DB (Reader)",
    "x": 580,
    "y": 660,
    "wires": [["e8d38f4c9ad1f7f8"]]
  },
  {
    "id": "e8d38f4c9ad1f7f8",
    "type": "function",
    "z": "f356cfe274aa46de",
    "name": "Formata Dados para Grid",
    "func": "\n// O SQL retorna um array: [ {deviceId: 'vagaA', ...}, {deviceId: 'vagaB', ...} ]\n// O template HTML funciona melhor com um objeto: { vagaA: {...}, vagaB: {...} }\n// Esta função faz essa conversão.\nconst vagas = {};\nfor (const vaga of msg.payload) {\n    vagas[vaga.deviceId] = vaga;\n}\nmsg.payload = vagas;\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 830,
    "y": 660,
    "wires": [["b41bca7bd9bd4b3d"]]
  },
  {
    "id": "b41bca7bd9bd4b3d",
    "type": "ui_template",
    "z": "f356cfe274aa46de",
    "group": "2ed522db7c3185ef",
    "name": "",
    "order": 0,
    "width": 0,
    "height": 0,
    "format": "<style>\n    .parking-grid {\n        display: grid;\n        grid-template-columns: 1fr 1fr 1fr;\n        /* 3 colunas */\n        gap: 15px;\n        /* Espaço entre as vagas */\n        padding: 10px;\n    }\n\n    .vaga-box {\n        border: 2px solid #555;\n        border-radius: 10px;\n        padding: 10px;\n        text-align: center;\n        font-size: 1.2em;\n        font-weight: bold;\n        transition: all 0.3s ease;\n    }\n\n    .vaga-box h3 {\n        margin: 0 0 10px 0;\n        padding-bottom: 5px;\n        border-bottom: 1px solid #666;\n        text-transform: capitalize;\n    }\n\n    .vaga-status {\n        font-size: 1.5em;\n        text-transform: uppercase;\n    }\n\n    /* Classes dinâmicas que o Node-RED vai aplicar */\n    .livre {\n        background-color: #4CAF50;\n        color: white;\n    }\n\n    .ocupada {\n        background-color: #F44336;\n        color: white;\n    }\n\n    .manutencao {\n        background-color: #FFC107;\n        /* Amarelo */\n        color: #333;\n        animation: pulse 1.5s infinite;\n        /* Animação a piscar */\n    }\n\n    .offline {\n        background-color: #9E9E9E;\n        color: #333;\n    }\n\n    /* Animação para a manutenção */\n    @keyframes pulse {\n        0% {\n            box-shadow: 0 0 0 0 rgba(255, 193, 7, 0.7);\n        }\n\n        70% {\n            box-shadow: 0 0 0 10px rgba(255, 193, 7, 0);\n        }\n\n        100% {\n            box-shadow: 0 0 0 0 rgba(255, 193, 7, 0);\n        }\n    }\n</style>\n\n<div class=\"parking-grid\">\n\n    <div class=\"vaga-box\" ng-class=\"{\n            'manutencao': (msg.payload.vagaA || {}).maintenance,\n            'ocupada':    !(msg.payload.vagaA || {}).maintenance && (msg.payload.vagaA || {}).status == 'ocupada',\n            'livre':      !(msg.payload.vagaA || {}).maintenance && (msg.payload.vagaA || {}).status == 'livre',\n            'offline':    !(msg.payload.vagaA || {}).status\n         }\">\n        <h3>Vaga A</h3>\n        <div class=\"vaga-status\">\n            {{(msg.payload.vagaA || {}).maintenance ? 'MANUTENÇÃO' : (msg.payload.vagaA || {}).status || 'OFFLINE'}}\n        </div>\n    </div>\n\n    <div class=\"vaga-box\" ng-class=\"{\n            'manutencao': (msg.payload.vagaB || {}).maintenance,\n            'ocupada':    !(msg.payload.vagaB || {}).maintenance && (msg.payload.vagaB || {}).status == 'ocupada',\n            'livre':      !(msg.payload.vagaB || {}).maintenance && (msg.payload.vagaB || {}).status == 'livre',\n            'offline':    !(msg.payload.vagaB || {}).status\n         }\">\n        <h3>Vaga B</h3>\n        <div class=\"vaga-status\">\n            {{(msg.payload.vagaB || {}).maintenance ? 'MANUTENÇÃO' : (msg.payload.vagaB || {}).status || 'OFFLINE'}}\n        </div>\n    </div>\n\n    <div class=\"vaga-box\" ng-class=\"{\n            'manutencao': (msg.payload.vagaC || {}).maintenance,\n            'ocupada':    !(msg.payload.vagaC || {}).maintenance && (msg.payload.vagaC || {}).status == 'ocupada',\n            'livre':      !(msg.payload.vagaC || {}).maintenance && (msg.payload.vagaC || {}).status == 'livre',\n            'offline':    !(msg.payload.vagaC || {}).status\n         }\">\n        <h3>Vaga C</h3>\n        <div class=\"vaga-status\">\n            {{(msg.payload.vagaC || {}).maintenance ? 'MANUTENÇÃO' : (msg.payload.vagaC || {}).status || 'OFFLINE'}}\n        </div>\n    </div>\n</div>",
    "storeOutMessages": true,
    "fwdInMessages": true,
    "resendOnRefresh": true,
    "templateScope": "local",
    "className": "",
    "x": 1040,
    "y": 660,
    "wires": [[]]
  },
  {
    "id": "89a6c3dae58655b6",
    "type": "switch",
    "z": "f356cfe274aa46de",
    "name": "Precisa Manutenção?",
    "property": "payload.maintenance",
    "propertyType": "msg",
    "rules": [
      {
        "t": "true"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 1,
    "x": 240,
    "y": 20,
    "wires": [["a9e11bcb2de974d0"]]
  },
  {
    "id": "a9e11bcb2de974d0",
    "type": "rbe",
    "z": "f356cfe274aa46de",
    "name": "",
    "func": "rbe",
    "gap": "",
    "start": "",
    "inout": "out",
    "septopics": true,
    "property": "payload",
    "topi": "topic",
    "x": 430,
    "y": 20,
    "wires": [["43fb5d0f52cfb513"]]
  },
  {
    "id": "43fb5d0f52cfb513",
    "type": "template",
    "z": "f356cfe274aa46de",
    "name": "Formata Alerta",
    "field": "payload",
    "fieldType": "msg",
    "format": "handlebars",
    "syntax": "mustache",
    "template": "A Vaga {{payload.deviceId}} entrou em modo de manutenção.",
    "output": "str",
    "x": 600,
    "y": 20,
    "wires": [["638f7360bc1b2ea5"]]
  },
  {
    "id": "638f7360bc1b2ea5",
    "type": "ui_toast",
    "z": "f356cfe274aa46de",
    "position": "top right",
    "displayTime": "5",
    "highlight": "",
    "sendall": true,
    "outputs": 0,
    "ok": "OK",
    "cancel": "",
    "raw": false,
    "className": "",
    "topic": "",
    "name": "Popup de Alerta",
    "x": 800,
    "y": 20,
    "wires": []
  },
  {
    "id": "mqttBroker",
    "type": "mqtt-broker",
    "name": "HiveMQ",
    "broker": "broker.hivemq.com",
    "port": "1883",
    "clientid": "node-red-dashboard",
    "usetls": false,
    "compatmode": true,
    "protocolVersion": "4",
    "keepalive": "60",
    "cleansession": true,
    "birthTopic": "",
    "birthQos": "0",
    "birthPayload": "",
    "closeTopic": "",
    "closeQos": "0",
    "closePayload": "",
    "willTopic": "",
    "willQos": "0",
    "willPayload": ""
  },
  {
    "id": "grpA",
    "type": "ui_group",
    "name": "Vaga A",
    "tab": "uiTab",
    "order": 1,
    "disp": true,
    "width": "4",
    "collapse": false
  },
  {
    "id": "grpB",
    "type": "ui_group",
    "name": "Vaga B",
    "tab": "uiTab",
    "order": 2,
    "disp": true,
    "width": "4",
    "collapse": false
  },
  {
    "id": "grpC",
    "type": "ui_group",
    "name": "Vaga C",
    "tab": "uiTab",
    "order": 3,
    "disp": true,
    "width": "4",
    "collapse": false
  },
  {
    "id": "5e4e9ff9091cbc5b",
    "type": "better-sqlitedb",
    "db": "parking.db",
    "mode": "RWC"
  },
  {
    "id": "2ed522db7c3185ef",
    "type": "ui_group",
    "name": "Pátio",
    "tab": "uiTab",
    "order": 4,
    "disp": true,
    "width": 6,
    "collapse": false,
    "className": ""
  },
  {
    "id": "uiTab",
    "type": "ui_tab",
    "name": "Painel",
    "icon": "dashboard",
    "disabled": false,
    "hidden": false
  }
]
